<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Objeto</servlet-name>
        <servlet-class>servlets.Objeto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Personaje</servlet-name>
        <servlet-class>servlets.Personaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rasgos</servlet-name>
        <servlet-class>servlets.Rasgos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tipo</servlet-name>
        <servlet-class>servlets.Tipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>servlets.User</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Objeto</servlet-name>
        <url-pattern>/Objeto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Personaje</servlet-name>
        <url-pattern>/Personaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rasgos</servlet-name>
        <url-pattern>/Rasgos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tipo</servlet-name>
        <url-pattern>/Tipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
