<!DOCTYPE html>
<!--
PAGINA PRINCIPAL
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <script src="js/bootstrap.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="container">
            <div class="form-sign">
                <h2 class="form-sign-heading">Inicia sesión</h2>
                <form action="Login" method="POST">
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> Recuerdame
                        </label>
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">INICIAR SESIÓN</button>
                </form>
                <a href="./newUser.jsp">¿Eres nuevo aquí?</a><br>
                <a href="./recoverPassword.jsp">He olvidado mi contraseña</a>

            </div> 
        </div>
    </body>
</html>
